---
import Layout from '../layouts/Layout.astro'
import { Nav } from '../components/Nav'
import { BitacorasList } from '../components/BitacorasList';
---

<Layout title="Welcome to Astro.">
	<Nav client:load />
  <main class='flex flex-col md:flex-row md:max-w-screen-xl mx-auto w-11/12'>
    <BitacorasList client:load />
  </main>
</Layout>