---
import Layout from '../layouts/Layout.astro'
import { Nav } from '../components/Nav'
---

<Layout title="Welcome to Astro.">
	<Nav client:load />
  <main class='flex max-w-screen-xl mx-auto'>
    
  </main>
</Layout>