---
import Layout from '../layouts/Layout.astro'
import { Nav } from '../components/Nav'
import { Form } from '../components/Form';
import { Welcome } from '../components/Welcom';
---

<Layout title="MyLove Bitacoras">
	<Nav client:load />
  <main class='flex flex-col md:flex-row md:max-w-screen-xl mx-auto w-11/12'>
    <Welcome />
    <Form client:load/>
  </main>
</Layout>